  .sticky-top{
    background-color: #3EBFFF;
  }
  
  .header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .creative-text{
    font-family: fraunces, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 50px;
    text-transform: uppercase;
  }
  .creative-text-arrow{
    
    color:white;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin:0 auto;
    margin-top: 92px;
  }
  .down-arrow{
    margin-top: 48px;
  }
  /*
  .down-arrow{
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
  }
  @-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  @keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  */
  .brand-section{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .brand-cont{
    flex:50%;
    background-color: white;  
    width: 100%;
  }
  .brand-text-cont{
    margin:auto auto;
    text-align: center;
  }
  .brand-text-cont h1{
    font-size: 2rem;
    font-family: fraunces, sans-serif;
    font-weight:700;
  }
  .egg-img{
    flex:50%;
  }

  .thumbnail{
    position: relative;
    margin-bottom: -7px;
  }

  .thumbnail img{
    display: block;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, 0% );
  }
  
  .centered .photog{
    color: hsl(198, 62%, 26%);
  }
  .centered .graph{
    color: hsl(167, 40%, 24%);
  }
  .graph-hed {
    font-size: 9vw;
    font-family: fraunces, sans-serif;
    font-weight:700;

  }
  .centered .graph-txt{
    font-size: 4vw;
    line-height: 6vw;
    font-family: Barlow, sans-serif

  }
  
  .photo-hed {
    font-size: 9vw;
    font-family: fraunces, sans-serif;
    font-weight:700;

  }
  .centered .photo-txt{
    font-size: 4vw;
    line-height: 6vw;
    font-family: Barlow, sans-serif

  }
  .testimonials-txt{
    font-size: 14px;
    color: hsl(210, 4%, 67%);
    font-family: fraunces, sans-serif;
    font-weight: 700;
    letter-spacing: 4px;

  }
.bio-txt{
  margin-top: 20px;

  font-size: 14px;
  color: hsl(212, 27%, 19%);
  font-family: Barlow, sans-serif;
  padding:0 10px;
  }
  .name-txt{
    margin-top: 30px;
    font-size: 18px;
    color: hsl(212, 27%, 19%);
    font-family: fraunces, sans-serif;
  }
  .job-txt{
    font-size: 14px;
    color: hsl(210, 4%, 67%);
    font-family: Barlow, sans-serif;
    color: hsl(210, 4%, 67%);

  }
.test-imgs{
  margin-top: 40px;

  width: 20%;
}



 .sunnyfooter{
   background-color: rgb(142, 212, 190);
   
 }
 .sunnyfooter a{
  font-family: Barlow, sans-serif;
  color: hsl(168, 34%, 41%);
 }

  .row{
    margin: 0 0;
  }
  
  .flex-equal > * {
    flex: 1;
  }



  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }
  .hide-graphic{
    display: none !important; 
  }
  .hide-photo{
    display: none !important;
  }
  .show-graphic{
    display: none;
  }
  .show-photo{
    display: none;
  }
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .test-cont{
    padding: 100px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, 0% );
  }
  .graph-hed {
    margin-top: 30px !important;

    font-size: 2vw;
    font-family: fraunces, sans-serif;
    font-weight:700;
  }
  .centered .mt-5{
    margin-top: 0 !important;
  }
  .centered .graph-txt{
    font-size: 1.2vw;
    line-height: 2vw;
    font-family: Barlow, sans-serif

  }
  
  .photo-hed {
    font-size: 2vw;
    font-family: fraunces, sans-serif;
    font-weight:700;

  }
  .centered .photo-txt{
    font-size: 1.2vw;
    line-height: 2vw;
    font-family: Barlow, sans-serif

  }
  .hide-graphic{
    display: inline-block !important;
  }
  .hide-photo{
    display: inline-block !important;
  }
  .show-graphic{
    display: none !important;
  }
  .show-photo{
    display: none !important;
  }

}